@model System.Data.DataTable

@{
    ViewBag.Title = "Classificação itens";
}

<script type="text/javascript">
    $(function () {
        $("table tr:odd").addClass("alt");
        //$("table tr:even").removeClass("alt");
    });
</script>

<ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">></span></li>
    <li><a href="#">Processos</a> <span class="divider">></span></li>
    <li><a href="#">Pré-Processo</a> <span class="divider">></span></li>
    <li><a href="#">Classificação</a> <span class="divider">></span></li>
    <li class="active">Index</li>
</ul>

<h4>Classificação itens</h4>

<hr />

@Html.Hidden("id_preprocesso", (int)ViewBag.id_preprocessos)
@Html.Hidden("statusclassificacao", (int)ViewBag.status_classificacao)

<form class="form-stacked">
    <fieldset>
        <legend>Pesquisar por</legend>
        @Html.DropDownList("colunas_titulos", string.Empty)
        @Html.TextBox("descricao_ingles", null, new { @class = "span3" })
        @Html.Hidden("statusclassificacao", (int)ViewBag.status_classificacao)
        <button type="submit" class="btn btn-inverse">Pesquisar</button>
    </fieldset>
    <div class="form-actions">
        @*@if (((int)ViewBag.status_classificacao == 0) || ((int)ViewBag.status_classificacao == 2))
        {
            @Html.ActionLink("Novo", "CreateItens", new { id = (int)ViewBag.id_preprocessos, status_classificacao = (int)ViewBag.status_classificacao }, new { @class = "btn btn-inverse" })
        }*@

        @Html.ActionLink("Exportar para arquivo excel", "ExportToExcel", new { id = (int)ViewBag.id_preprocessos }, new { @class = "btn btn-inverse" })

        @Html.ActionLink("Voltar", "Index", "PreProcesso", new { id = (int)ViewBag.id_preprocessos }, new { @class = "btn" })
    </div>
</form>

<br />
<div style="overflow-y: auto; height: 250px;">
    <table id="grid" class="grade">
        @if (Model != null)
        {          
            <thead>
                <tr class="header">
                    <th scope="col" style="white-space: nowrap !important;">Ações
                    </th>
                    @foreach (var item in Model.Columns)
                    {
                        <th scope="col" style="white-space: nowrap !important;">
                            @item
                        </th>
                    }

                </tr>
            </thead>
                    foreach (System.Data.DataRow row in Model.Rows)
                    {     
            <tr>
                <td>
                    <ul class="nav pull-center" style="list-style-type: none!important; padding: 0px; margin: 0px;">
                        <li class="dropdown" style="line-height: 0px!important;">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-list"></i><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Editar", "EditItens", "PreClassificacao", new { id = (int)ViewBag.id_preprocessos, Linha = Convert.ToInt32(row[0].ToString()), statusclassificacao = (int)ViewBag.status_classificacao }, null)</li>
                                <li class="divider"></li>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </td>
                @foreach (var item in row.ItemArray)
                {
                    <td style="white-space: nowrap !important;">
                        @item
                    </td>                    
                }
            </tr>
                    }
        }
    </table>
</div>


