@*@{
    ViewBag.Title = "WebCAm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">></span></li>
    <li><a href="#">RH</a> <span class="divider">></span></li>
    <li><a href="#">Registro de Empregados</a> <span class="divider">></span></li>
    <li class="active">WebCam</li>
</ul>

<h4>Tirar um foto para ficha de empregados</h4>

@using (Html.BeginForm("Capture", "RHEmpregados", FormMethod.Post, new { @class = "form-stacked", @id = "form-stacked" }))
{    
    <div class="row">
        <div class="span9 text-center">
            <div class="span4 img-polaroid"  id="Camera"></div>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-inverse" onclick="webcam.capture();">Capturar</button>
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn" })
    </div>  
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.webcam.js")">
    </script>
    <script>

        $("#Camera").webcam({
            width: 320,
            height: 240,
            mode: "save",
            swffile: "@Url.Content("~/Scripts/jscam.swf")",
            onTick: function () { },
            onSave: function () {
            },
            onCapture: function () {
                webcam.save("@Url.Content("~/WebCam/Capture")/");
            },
            debug: function () { },
            onLoad: function () { }
        });
    </script>
}*@


@{
    ViewBag.Title = "WebCAm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">></span></li>
    <li><a href="#">RH</a> <span class="divider">></span></li>
    <li><a href="#">Registro de Empregados</a> <span class="divider">></span></li>
    <li class="active">Foto</li>
</ul>

<h4>Tirar um foto para ficha de empregados</h4>

<script src="@Url.Content("~/Scripts/jquery.webcam.js")" type="text/javascript"></script>
 

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-stacked", @id = "form-stacked" }))
{    
    <div class="row">
        <div class="span9">
            <div class="span* img-polaroid" id="webcam"></div>
            <div class="span* img-polaroid" id="foto" @*style="width:3cm; height:4cm;"*@>



               
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="button" class="btn btn-inverse" id="upload">Capturar</button>       

        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn" })
    </div>  
}



@*<div id="webcam"></div>
<a href="#" id="upload">Capture image and send for processing</a>*@
 
<script type="text/javascript">
    var pos = 0, ctx = null, saveCB, image = [];
    var canvas = document.createElement('canvas');
    canvas.setAttribute('width', 320);
    canvas.setAttribute('height', 240);
    ctx = canvas.getContext('2d');
    image = ctx.getImageData(0, 0, 320, 240);
 
    var saveCB = function (data) {
        var col = data.split(';');
        var img = image;
        for (var i = 0; i < 320; i++) {
            var tmp = parseInt(col[i]);
            img.data[pos + 0] = (tmp >> 16) & 0xff;
            img.data[pos + 1] = (tmp >> 8) & 0xff;
            img.data[pos + 2] = tmp & 0xff;
            img.data[pos + 3] = 0xff;
            pos += 4;
        }
 
        if (pos >= 4 * 320 * 240) {
            ctx.putImageData(img, 0, 0);
            $.post('@Url.Action("Upload")', { type: 'data', image: canvas.toDataURL("image/jpeg") }, function (result) {
                if (result.success) {
                    alert('The image was successfully sent to the server for processing');
                }
            });
            pos = 0;
        }
    };
 
    $('#webcam').webcam({
        width: 320,
        height: 240,
        mode: 'callback',
        swffile: '@Url.Content("~/scripts/jscam_canvas_only.swf")',
        onSave: saveCB,
        onCapture: function () {
            webcam.save();
        }
    });
 
    $('#upload').click(function () {
        webcam.capture();
        return false;
    });
</script>