@model MS2000WEB.Models.RAT

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RAT</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Fk_Importador)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fk_Importador)
            @Html.ValidationMessageFor(model => model.Fk_Importador)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fk_Processo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fk_Processo)
            @Html.ValidationMessageFor(model => model.Fk_Processo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fund_Pedido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fund_Pedido)
            @Html.ValidationMessageFor(model => model.Fund_Pedido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data_Criacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data_Criacao)
            @Html.ValidationMessageFor(model => model.Data_Criacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Prazo_Requerido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Prazo_Requerido)
            @Html.ValidationMessageFor(model => model.Prazo_Requerido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Opcao_Tributario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Opcao_Tributario)
            @Html.ValidationMessageFor(model => model.Opcao_Tributario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Inst_Ped_Contrato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Inst_Ped_Contrato)
            @Html.ValidationMessageFor(model => model.Inst_Ped_Contrato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Inst_Ped_Procuracao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Inst_Ped_Procuracao)
            @Html.ValidationMessageFor(model => model.Inst_Ped_Procuracao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Inst_Ped_Outros)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Inst_Ped_Outros)
            @Html.ValidationMessageFor(model => model.Inst_Ped_Outros)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Inst_Ped_Contrato_arrendamento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Inst_Ped_Contrato_arrendamento)
            @Html.ValidationMessageFor(model => model.Inst_Ped_Contrato_arrendamento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Inst_Ped_Fatura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Inst_Ped_Fatura)
            @Html.ValidationMessageFor(model => model.Inst_Ped_Fatura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cod_Fatura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cod_Fatura)
            @Html.ValidationMessageFor(model => model.Cod_Fatura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Inf_Adicionais)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Inf_Adicionais)
            @Html.ValidationMessageFor(model => model.Inf_Adicionais)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Inf_Complementares)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Inf_Complementares)
            @Html.ValidationMessageFor(model => model.Inf_Complementares)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data_Inicial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data_Inicial)
            @Html.ValidationMessageFor(model => model.Data_Inicial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero_Rat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero_Rat)
            @Html.ValidationMessageFor(model => model.Numero_Rat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data_Entrada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data_Entrada)
            @Html.ValidationMessageFor(model => model.Data_Entrada)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data_Aprovacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data_Aprovacao)
            @Html.ValidationMessageFor(model => model.Data_Aprovacao)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
