@model MS2000WEB.Models.Controle_de_Tributos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Controle_de_Tributos</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Natureza)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Natureza)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Codigo_Tributo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo_Tributo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Competencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Competencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Periodicidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Periodicidade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data_Pgto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data_Pgto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Referencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Referencia)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
